.main-chat
  .main-chat__header
    .left-header
      .left-header__group-name
        = @group.name
      %ul.left-header__member-list
        Member : 
        %li.left-header__member-list__user-name
          - @group.users.each do |user|
            = user.name
    .right-header
      = link_to "Edit", edit_group_path(@group.id), class: "right-header__edit-btn"

  .main-chat__content
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      .center-bar
        .center-bar__form
          = f.text_field :body, placeholder: "type a message!", class: "center-bar__form__text_field"
          .center-bar__form__file_field
            = f.label :image do
              = icon("fas", "images", class: "center-bar__form__file_field--yes")
              = f.file_field :image, class: "center-bar__form__file_field--no"
        = f.submit 'Send', class: "center-bar__submit"