.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to icon("fas", "edit"), new_group_path, class: "top-items__icons--new-group"
        = link_to icon("fas", "cog"), edit_user_path(current_user.id), class: "top-items__icons--edit-user"

  .side-bar__group-list
    - @groups.each do |group|
      .group-list
        = link_to group.name, "#", class: "group-list__name"
        = link_to 'メッセージはまだありません', "#", class: "group-list__message"