.side-bar__user-name
  .top-items
    .top-items__name
      辻拓哉
    .top-items__icons
      = link_to icon("fas", "edit"), "#", class: "top-items__icons--new-group"
      = link_to icon("fas", "cog"), "#", class: "top-items__icons--edit-user"

.side-bar__group-list
  .group-show
    .group-show__group-name
      = link_to 'グループA', "#", class: "group-show__group-name--head"
    .group-show__first-message
      = link_to 'こんにちは', "#", class: "group-show__first-message--content"
  .group-show
    .group-show__group-name
      = link_to 'グループB', "#", class: "group-show__group-name--head"
    .group-show__first-message
      = link_to 'さようなら', "#", class: "group-show__first-message--content"
  .group-show
    .group-show__group-name
      = link_to 'グループC', "#", class: "group-show__group-name--head"
    .group-show__first-message
      = link_to 'また今度', "#", class: "group-show__first-message--content"